<div class="ui container">
  <h2 class="ui horizontal divider header">
    <i class="heart icon"></i>
    Our Wedding
  </h2>
  <div class="ui text container">
    <sui-tabset>
        <div class="ui pointing secondary menu">
            <a class="item" suiTabHeader="1">Location</a>
            <a class="item" suiTabHeader="2">Travel Information</a>
            <a class="item" suiTabHeader="3">Schedule</a>
        </div>
        <div class="ui raised center aligned segment" suiTabContent="1">
          <h1 class="ui header">The Sutherland
            <div class="ui sub header">
                13371 Wake Union Church Rd
            </div>
            <div class="ui sub header">
                Wake Forest, NC 27587
            </div>
          </h1>
          <img class="ui large rounded centered image" src="assets/sutherland.jpg">
        </div>
        <div class="ui raised center aligned segment" suiTabContent="2">
          <h3 class="ui header">Venue Directions</h3>
          <p>
            For directions to the venue, please refer to The Sutherland's <a href="http://thesutherland.com/directions/" target="_blank">website</a>.
          </p>
          <div class="ui center aligned content">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3227.7158482241516!2d-78.52517368507088!3d36.00280898012063!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89ac53b285a43f3b%3A0x621097b519f4cc83!2sThe+Sutherland!5e0!3m2!1sen!2sus!4v1504992115224" frameborder="0" style="border:0; width: 100%;" allowfullscreen></iframe>
          </div>
          <h3 class="ui header">Hotel Accomodations</h3>
          <p>
            We have arranged a block of rooms at each of the following hotels but please
            feel free to look at other options such as <a target="_blank" href="https://www.airbnb.com/">Airbnb</a>: <br><br>
            <b>Renaissance Raleigh North Hills Hotel</b><br>
            4100 Main at North Hills Street <br>
            Raleigh, NC 27609 <br><br>
            <b>AC Hotel Raleigh North Hills</b><br>
            101 Park at North Hills Street <br>
            Raleigh, NC 27609 <br>
            
          </p>
          <h3 class="ui header">Flights</h3>
          <p>
            Your best option is to fly into Raleigh-Durham Airport (RDU) which is about 32 minutes from The
            Sutherland, 28 minutes from the blocked off hotels, and 23 minutes from downtown Raleigh.
          </p>
        </div>
        <div class="ui raised center aligned segment" suiTabContent="3">
          <h3 class="ui header">Saturday
            <div class="ui sub header">
              Wedding
            </div>
          </h3>
          <p>
            The ceremony and reception will take place at The Sutherland.  Upon entrance, you will be 
            brought to a seat near the garden area for the ceremony.  Following the ceremony, there will
            be a cocktail hour that will offer drinks and served hors d'oeuvres. <br>
            After cocktail hour, we will have dinner and continue on with the reception!
          </p>
          <p>
            Time Start: 3:00PM <br>
            Time End: 11:00PM
          </p>
          <p>
            <b>SEMIFORMAL ATTIRE</b> 
            <br>
          </p>
          <h3 class="ui header">Sunday
              <div class="ui sub header">
                Brunch
              </div>
            </h3>
            <p>
              Brunch will be at TBD
            </p>
        </div>
    </sui-tabset>
  </div>
</div>