<div class="ui container">
  <h2 class="ui horizontal divider header">
    <i class="plane icon"></i>
    Travel + Accommodations
  </h2>
  <div class="ui text container">
    <div class="ui raised center aligned segment">
      <h2 class="ui header">Flights</h2>
      <p>
        Your best option is to fly into Raleigh-Durham Airport (RDU) which is about 20 minutes from
        the blocked off hotels and 23 minutes from downtown Raleigh.
      </p>
      <h2 class="ui header">Hotel Accomodations</h2>
      <p>
        We will be arranging a block of rooms at each of the following hotels but please feel free to look at other options such
        as
        <a target="_blank" href="https://www.airbnb.com/">Airbnb</a>
        <br>
        <br>
        <span class="hotel-names">
          <b>The Renaissance Hotel</b>
          <br> 4100 Main at North Hills Street
          <br> Raleigh, NC 27609
        </span>
        <br>
        <br>
        <button class="circular ui icon button hotel-contact">
          <i class="icon world"></i>
          <a href="http://www.google.com">Book Online</a>
        </button>
        <button class="circular ui icon button hotel-contact">
          <i class="volume control phone icon"></i>
          <a href="tel:9195718773">Call (919) 571-8773</a>
        </button>
        <br>
        <br>
        <img class="ui medium rounded centered image" src="assets/renaissance.jpg">
      </p>
      <p>
        * Complimentary parking
        <br> * Complimentary access to the Fitness Connection Athletic Club next door
        <br> * $149 per night
      </p>
      <br>
      <p>
        <br>
        <span class="hotel-names">
          <b>Hyatt House</b>
          <br> 160 Park at North Hills Street
          <br> Raleigh, NC 27609
        </span>
        <br>
        <br>
        <button class="circular ui icon button hotel-contact">
          <i class="icon world"></i>
          <a href="http://www.google.com">Book Online</a>
        </button>
        <button class="circular ui icon button hotel-contact">
          <i class="volume control phone icon"></i>
          <a href="tel:9193630771">Call (919) 363-0771</a>
        </button>
        <br>
        <br>
        <img class="ui medium rounded centered image" src="assets/hyatt.jpg">
        <br>
      </p>
      <p>
        * Complimentary parking
        <br> * Free breakfast included in stay
        <br> * 24/7 Fitness Center, Outdoor Pool, Fire Pit
        <br> * $119 per night
      </p>
    </div>
  </div>
  <br>
</div>