<div class="ui container">
  <h2 class="ui horizontal divider header">
    <i class="plane icon"></i>
    Travel + Accommodations
  </h2>
  <div class="ui text container">
    <div class="ui raised center aligned segment">
      <h2 class="ui header">Flights</h2>
      <p>
        Your best option is to fly into Raleigh-Durham Airport (RDU) which is about 20 minutes from
        the blocked off hotels and 23 minutes from downtown Raleigh.
      </p>
      <h2 class="ui header">Hotel Accomodations</h2>
      <p>
        We will be arranging a block of rooms at each of the following hotels but please feel free to look at other options such
        as
        <a target="_blank" href="https://www.airbnb.com/">Airbnb</a>
        <br>
        <b>The hotels prefer that you use their links provided but if you choose to call these hotels, please mention it is for the Lebuhn/Wayne Wedding Block</b>
        <br>
        <br>
        <span class="hotel-names">
          <b>The Renaissance Hotel</b>
          <br> 4100 Main at North Hills Street
          <br> Raleigh, NC 27609
        </span>
        <br>
        <br>
        <a href="http://www.marriott.com/meeting-event-hotels/group-corporate-travel/groupCorp.mi?resLinkData=LeBuhn/Wayne%20Wedding%20Room%20Block%20%5ERDURN%60LWBLWBA%7CLWBLWBH%60149.00%60USD%60false%604%605/31/18%606/3/18%605/10/18&app=resvlink&stop_mobi=yes" target="_blank">
          <button class="circular ui icon button hotel-contact">
            <i class="icon world"></i>
            Book Online
          </button>
        </a>
        <a href="tel:9195718773">
          <button class="circular ui icon button hotel-contact">
            <i class="phone icon"></i>
            Call (919) 571-8773
          </button>
        </a>
        <br>
        <br>
        <img class="ui medium rounded centered image" src="assets/renaissance.jpg">
      </p>
      <p>
        * Complimentary parking
        <br> * Complimentary access to the Fitness Connection Athletic Club next door
        <br> * $149 per night
      </p>
      <br>
      <p>
        <br>
        <span class="hotel-names">
          <b>Hyatt House</b>
          <br> 160 Park at North Hills Street
          <br> Raleigh, NC 27609
        </span>
        <br>
        <br>
        <a href="http://raleighnorthhills.house.hyatt.com/en/hotel/home.html?corp_id=G-Jun2" target="_blank">
          <button class="circular ui icon button hotel-contact">
            <i class="icon world"></i>
            Book Online
          </button>
        </a>
        <a href="tel:8009934983">
          <button class="circular ui icon button hotel-contact">
            <i class="phone icon"></i>
            Call (800) 993-4983
          </button>
        </a>
        <br>
        <br>
        <img class="ui medium rounded centered image" src="assets/hyatt.jpg">
      </p>
      <p>
        * Complimentary parking
        <br> * Free breakfast included in stay
        <br> * 24/7 Fitness Center, Outdoor Pool, Fire Pit
        <br> * $119 per night
      </p>
    </div>
  </div>
  <br>
</div>