<div class="ui center aligned raised content">
  <div class="ui center aligned vertically divided stackable grid">
    <div class="two column row">
      <div class="column">
        <img class="ui big circular image" src="assets/home-info-image.JPG">
      </div>
      <div class="column center middle aligned content header-font">
        <div class="ui huge header">Emily LeBuhn & Kevin Wayne</div>
        <img class="ui centered medium image" src="assets/divider.png">
        <div class="ui large header">June 2nd, 2018</div>
        <div class="ui medium header">The Sutherland</div>
        <div class="ui small header">Wake Forest, NC</div>
      </div>
    </div>
  </div>
</div>