<div class="ui center aligned raised content">
  <div class="ui center aligned vertically divided stackable grid">
    <div class="two column row">
      <div class="column">
        <img class="ui big circular image" src="assets/home-info-image.JPG">
      </div>
      <div class="column center middle aligned content">
        <h1>Emily LeBuhn & Kevin Wayne</h1>
        <img class="ui centered medium image" src="assets/divider.png">
        <h2>June 2nd, 2018</h2>
        <h3>The Sutherland</h3>
        <h4>Wake Forest, NC</h4>
      </div>
    </div>
  </div>
</div>