<div class="ui center aligned raised content">
  <div class="ui center aligned vertically divided stackable grid">
    <div class="two column row">
      <div class="column center middle aligned content">
        <img class="ui large fluid rounded image" src="assets/KevinEmily.jpg">
      </div>
      <div class="column center middle aligned content">
        <div class="ui huge header">Emily LeBuhn & Kevin Wayne</div>
        <img class="ui centered medium image" src="assets/divider.png">
        <div class="ui huge header">June 2nd, 2018</div>
        <div class="ui large header">The Sutherland</div>
        <div class="ui medium header">Wake Forest, NC</div>
      </div>
    </div>
  </div>
</div>