<div class="ui container">
  <h2 class="ui horizontal divider header">
    <i class="heart icon"></i>
    Our Wedding
  </h2>
  <div class="ui text container">
    <div class="ui raised center aligned segment">
      <h1 class="ui header">The Sutherland
        <div class="ui sub header">
          13371 Wake Union Church Rd
        </div>
        <div class="ui sub header">
          Wake Forest, NC 27587
        </div>
      </h1>
      <img class="ui large rounded centered image" src="assets/sutherland.jpg">
      <br>
      <h3 class="ui header">Venue Directions</h3>
      <p>
        For directions to the venue, please refer to The Sutherland's
        <a href="http://thesutherland.com/directions/" target="_blank">website</a>.
      </p>
      <div class="ui center aligned content">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3227.7158482241516!2d-78.52517368507088!3d36.00280898012063!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89ac53b285a43f3b%3A0x621097b519f4cc83!2sThe+Sutherland!5e0!3m2!1sen!2sus!4v1504992115224"
          frameborder="0" style="border:0; width: 100%;" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</div>
<br>
<div class="ui text container">
  <div class="ui raised center aligned segment">
    <h3 class="ui header">Saturday
      <div class="ui sub header">
        Wedding
      </div>
    </h3>
    <p>
      The ceremony and reception will take place at The Sutherland. Upon entrance, you will be brought to a seat near the garden
      area for the ceremony. Following the ceremony, there will be a cocktail hour that will offer drinks and served hors
      d'oeuvres.
      <br> After cocktail hour, we will have dinner and continue on with the reception!
    </p>
    <p>
      Time Start: 5:30PM
      <br> Time End: 11:30PM
    </p>
    <p>
      <b>SEMIFORMAL ATTIRE</b>
      <br>
    </p>
  </div>
</div>