<div class="ui container">
  <h2 class="ui horizontal divider header">
    <i class="book icon"></i>
    Our Story
  </h2>
  <div class="ui text container">
    <div class="ui raised center aligned segment">
      <p>
        Kevin and Emily's story begins in high school.  They were juniors at Rolling Meadows High School and it was almost 
        prom season.  Kevin had been nervous to talk to Emily so he figured "Hey, I'll do the unheard of...ask a girl to 
        prom who I had never talked to before!" And so Kevin asked Emily to prom and she said yes! 
        Although they started out as friends, Emily and Kevin quickly started falling for eachother.  They had
        a great time taking pictures and dancing together.
      </p>
      <div class="ui hidden divider"></div>
      <div class="ui images">
        <img class="ui large rounded image" src="assets/PromAsk.jpg">
        <img class="ui medium rounded image" src="assets/PromFirst.jpg">
      </div>
    </div>
    <div class="ui raised center aligned segment">
      <p>
        The next day, June 5th 2010, Emily and Kevin decided to make things official and start dating!
        They had a fun first summer of dating including a date in downtown Chicago.
      </p>
      <div class="ui images">
        <img class="ui medium rounded image" src="assets/CityDate.jpg">
      </div>
      <p>
        As well as going to a Dave Matthews Band concert in Alpine Valley, Wisconsin.  To this day,
        Emily and Kevin have gone to 12 DMB concerts together!
      </p>
      <div class="ui small images">
        <img class="ui small rounded image" src="assets/DMB1.jpg">
        <img class="ui small rounded image" src="assets/DMB2.jpg">
        <img class="ui small rounded image" src="assets/DMB3.jpg">
        <img class="ui small rounded image" src="assets/DMB4.jpg">
        <img class="ui small rounded image" src="assets/DMB5.jpg">
        <img class="ui small rounded image" src="assets/DMB6.jpg">
      </div>
      <p>
        Their senior year of high school finished up and they attended their second round of prom together.  This time,
        Emily and Kevin had been dating so there wasn't any awkward asking to prom this time...
      </p>
      <div class="ui images">
        <img class="ui medium rounded image" src="assets/PromSecond.jpg">
      </div>
    </div>
    <div class="ui raised center aligned segment">
      <p>
        It was then time for high school graduation where 
        Emily and Kevin were going to go off to different universities.  Kevin attended the University of Illinois at 
        Urbana-Champaign and Emily went to Mizzou.  They were able to visit each other 
        once every month or so...        
      </p>
      <div class="ui images">
        <img class="ui large rounded image" src="assets/Freshman.jpg">
      </div>
      <p>
        ...but being in love, the couple wanted to be together way more.  Emily and Kevin decided to transfer together to
        East Carolina University in North Carolina where they became PIRATES!
      </p>
      <div class="ui images">
        <img class="ui medium rounded image" src="assets/ECU.jpg">
      </div>
    </div>
    <div class="ui raised center aligned segment">
      <p>
        Emily and Kevin had an amazing senior year at ECU.  Kevin signed an offer to join Fidelity Investments
        as a Software Engineer in Research Triangle Park, NC and Emily signed on to work at Cisco in Research 
        Triangle Park, NC as a Health Fitness Specialist.
      </p>
      <div class="ui images">
        <img class="ui medium rounded image" src="assets/GraduationECU.jpg">
      </div>
      <p>
        They graduated and enjoyed a celebration with their families downtown Raleigh, NC.  It was now time for Emily and Kevin to
        begin the rest of their lives together.
      </p>
      <div class="ui images">
        <img class="ui large rounded image" src="assets/FamilyGraduation.jpg">
      </div>
    </div>
  </div>

  <h4 class="ui horizontal divider header">
    <i class="diamond icon"></i>
    The Proposal
  </h4>
  <div class="ui text container">
    <div class="ui raised center aligned segment">
      <p>
        Emily and Kevin flew home to Chicago to spend time with their family and friends.  
        Emily had a day planned in the city with her brothers on December 22nd, 2016.  
        She went to the Art Museum and grabbed lunch downtown near Millenium Park.  
        With the help of Emily's brother Mac, Kevin was able to plan a surprise proposal.  
        At the same location as their first city date, Kevin was standing at the top of the 
        stairs.  Kevin called her name after she reached 
        the top of the stairs and she instantly knew what was happening.  Kevin got down on one knee 
        and proposed to the girl of his dreams followed by a quick YES!  
        Emily heard cheering from afar and was surprised to see their families 
        witnessing the proposal from Cindy's Rooftop Bar.
      </p>
      <div class="ui images">
        <img class="ui large rounded image" src="assets/EngagedStanding">
        <img class="ui large rounded image" src="assets/EngagedLookingAtRooftop">
        <img class="ui large rounded image" src="assets/EngagedExcited">
      </div>
    </div>
    <div class="ui raised center aligned segment">
      <p>
        After getting engaged, Kevin and Emily celebrated up at Cindy's with their supportive family.  Here are a couple 
        pictures from the day!
      </p>
      <div class="ui images">
        <img class="ui large rounded image" src="assets/EngagedFamily.JPG">
        <img class="ui large rounded image" src="assets/EngagedDads">
        <img class="ui large rounded image" src="assets/EngagedRooftop.JPG">
        <img class="ui medium rounded image" src="assets/RingRooftop">
      </div>
    </div>
    <div class="ui raised center aligned segment">
      <p>
        We can't wait to celebrate our wedding in June with all of our favorite people! Thank y'all for your constant 
        love and support. We wouldn't be here without you!
      </p>
    </div>
  </div>
</div>