<div class="ui container">
  <br>
  <sui-message class="icon">
    <i class="hotel icon"></i>
    <div class="content">
        <div class="header">
            Blocked hotel rooms are now available to book!
        </div>
        <a href="/travel">Click here to go to the travel page and book</a>
    </div>
  </sui-message>
  <app-nav-component class="ui five item stackable container secondary huge menu"></app-nav-component>
  <app-info-component class="ui container"></app-info-component>
</div>