<div class="ui container">
  <h2 class="ui horizontal divider header">
    <i class="gift icon"></i>
    Registry
  </h2>
  <div class="ui text container">
    <div class="ui raised center aligned segment">
      <p>
          We can't wait to get married and we are so honored to have you at our wedding! 
          If you would like to help us start our new life together, 
          we have registered for items we would love to have in our home.
      </p>
      <div class="ui images">
        <a href="https://www.williams-sonoma.com/registry/vpzjtm5wcj/registry-list.html" target="_blank"><img class="ui small image" src="assets/Williams-Sonoma.png"></a>
        <a href="https://www.crateandbarrel.com/gift-registry/emily-lebuhn-and-kevin-wayne/r5750629" target="_blank"><img class="ui small image" src="assets/Crate-Barrel.png"></a>
      </div>
    </div>
</div>